---
title: Downloads
description: you can get my stuff here, if you are interested
visible: true
layout: empty
---
<div class="mb-2 mt-3">
    <input type="text" class="form-control" placeholder="search" id="stuff-search">
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Name</th><th>Date</th><th>Download</th></tr>
        </thead>
        <tbody>
            {% for file in site.static_files %}
            {% if file.path contains 'downloads' %}
            <tr><td><span class="color-coded" data-search>{{ file.basename }}</span></td><td>{{ file.modified_time | date: '%B %d, %Y' }}</td><td><a href="{% if site.url != "" %}{{ site.url }}{% else %}.{% endif %}{{ file.path }}" class="btn btn-primary" download>Download</a></td></tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="./assets/formatter.js"></script>
<script>
    $(function() {
        $("#stuff-search").on("keyup", function(e) {
            var query = $(e.target).val().toLowerCase()
            $("[data-search]").each(function(index, value) {
                var term = $(value).data("search")
                if (term) {
                    term = term.toLowerCase()
                } else {
                    term = $(value).text().toLowerCase()
                }
                if (term.includes(query)) {
                    $(value).parent().parent().show()
                } else {
                    $(value).parent().parent().hide()
                }
            })
        })
    })
</script>