<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Inconsolata|Lato&display=swap" rel="stylesheet">
<!--link rel="stylesheet" href="{{ site.url }}/assets/tooltip.css"-->
<link rel="stylesheet" href="{{ site.url }}/assets/style.css">
<link rel="stylesheet" href="{{ site.url }}/assets/default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.min.js"></script>-->
<script src="{{ site.url }}/assets/highlight.pack.js"></script>
<script src="{{ site.url }}/assets/toggle.js"></script>
<script src="https://kit.fontawesome.com/85b1e5596f.js" crossorigin="anonymous"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>