.format-0 {
    color: #000000;
}

.format-1 {
    color: #0000AA;
}

.format-2 {
    color: #00AA00;
}

.format-3 {
    color: #00AAAA;
}

.format-4 {
    color: #00AAAA;
}

.format-5 {
    color: #00AAAA;
}

.format-6 {
    color: #00AAAA;
}

.format-7 {
    color: #00AAAA;
}

.format-8 {
    color: #00AAAA;
}

.format-9 {
    color: #00AAAA;
}

.format-8 {
    color: #00AAAA;
}