<!DOCTYPE html>
<html>
    <head>
        {% include header.html %}
        <title>{{ site.title }}</title>
    </head>
    <body>
        <div class="container">
            <div class="avatar-center">
                <img src="https://crafatar.com/renders/head/1d06f8d6a27543b9abb5ad96a850f79c?size=64&amp;overlay" alt="my head should be here" title="my head">
            </div>
            <h1 class="header-text">binary1024</h1>
            <p>{{ site.description }}</p>
            <ul class="link-list">
                <li><a href="https://www.reddit.com/u/binary512">u/binary512</a></li>
                <li><a href="https://www.github.com/vic797">Github</a></li>
                <li><a href="https://www.planetminecraft.com/member/binary1024/">Planet Minecraft</a></li>
            </ul>
            <br><br>
            {% for link in site.data.links %}
            <div class="media-item">
                <h3>{{ link.title }}</h3>
                <p>{{ link.description }}</p>
                <br>
                {% for url in link %}
                <a href="{{ url.url }}" class="media-link">{{ url.text }}</a>
                {% endfor %}
            </div>
            {% endfor %}
            <br><br>
            <div class="unsplash-banner">
                Photo by <a href="https://unsplash.com/@theshubhamdhage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Shubham Dhage</a> on <a href="https://unsplash.com/s/photos/minecraft?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </div>
        </div>
    </body>
</html>

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="container">
            {% include navbar.html %}
            <div class="row mt-2">
                <div class="col-md-6">
                    <h4>binary1024 (me)</h4>
                    <img src="https://crafatar.com/renders/head/1d06f8d6a27543b9abb5ad96a850f79c?size=64&overlay" alt="my head should be here" title="my head">
                    <div class="pt-2">
                        {{ content }}
                    </div>
                    <dl>
                        {% for link in site.data.links %}
                        <dd><a href=" {{link.link }}" target="_blank">{{ link.name }}</a></dd>
                        {% endfor %}
                    </dl>
                    <br>
                    <h4 id="word">...</h4>
                </div>
                <div class="col-md-6">
                    <h4>stuff i made</h4>
                    <div class="list-group pt-3">
                        {% for page in site.data.pages %}
                        <a href="{{ page.link }}" class="list-group-item list-group-item-action" target="_blank">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ page.name }}</h5>
                            </div>
                            <p class="mb-1">{{ page.description }}</p>
                        </a>
                        {% endfor %}
                    </div>
                    <h4 class="mt-4">posts</h4>
                    <div class="list-group">
                        {% for post in site.posts %}
                        {% if post.description %}
                        <a href="{{ post.url }}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ post.title }}</h5>
                            </div>
                            <p class="mb-1">{{ post.description }}</p>
                        </a>
                        {% else %}
                        <a href="{{ post.url }}" class="list-group-item list-group-item-action"><h5>{{ post.title }}</h5></a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script>
            $.ajax({
                url: "https://random-word-api.herokuapp.com/word?swear=1",
                success: (data) => {
                    $("#word").text(data[0] + "!")
                }
            })
        </script>
    </body>
</html>