<!DOCTYPE html>
<html>
    <head>
        {% include header.html %}
        <title>{{ page.title }} @ {{ site.title }}</title>
    </head>
    <body>
        <div class="container mt-2">
            <h4><a href="{{ site.url }}" class="btn btn-primary">&lt;</a> {{ page.title }}</h4>
            <div class="row">
                <div class="col-md-3">
                    <img src="https://crafatar.com/renders/head/1d06f8d6a27543b9abb5ad96a850f79c?size=64&overlay" alt="my head should be here" title="my head">
                    <h4>by binary1024 (aka me)</h4>
                    <h4 class="mt-4">posts</h4>
                    <div class="list-group">
                        {% for post in site.posts %}
                        <a href="{{ post.url }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-9">
                    {% if page.links %}
                    <div class="d-grid gap-2 d-md-block mt-2 mb-2">
                        {% for link in page.links %}
                        <a href="{{ link.url }}" {% if link.target %}target="{{ link.target }}" {% endif %} {% if link.download %}download="download" {% endif %}class="btn btn-primary">{{ link.label }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>